.myimg {
    border-radius: 50%;
    width: 200px;
    border: 2px solid black;


}

#RT {
    display: none;
 }

.background {
    background-color: whitesmoke;

}

body{
    background-image: url(image1.jpg);
}
